{% for nav in include.items %}
  {% if nav.items != null %}
    {% assign urlparts = page.url | split: '/' %}
    {% assign sublevel = include.level | plus: 1 %}
    <li class="list-group-item{% if nav.slug == urlparts[sublevel] %} open{% endif %}"><a href="#" class="heading"><i></i> {{ nav.title }}</a> <ul class="list-group">{% include nav-items.html items = nav.items level=sublevel %}</ul></li>
  {% else %}
    <li class="list-group-item{% if page.url == nav.permalink %} active{% endif %}"><a href="{{ nav.permalink | prepend: site.baseurl }}" class="list-group-item-text">{{ nav.title }}</a></li>
  {% endif %}
{% endfor %}
